:root {
    --white: #ffffff;
    --purple: #a60dec;
    --orange: hsl(262, 52%, 47%);
}
body {
    margin: 0;
    padding: 0;
    color: var(--white);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
* {
    box-sizing: border-box;
}

h1 {
    font-size: 3.375rem;
    text-transform: uppercase;
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

#gameboard {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    /* border: 1px groove red; */
}

.box {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    color: var(--white);
}

.box:hover {
    background-color: var(--orange);
    cursor: pointer;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--purple);
    color: var(--white);
    border-color: var(--white);
    font-size: 1.130em;
    transition: 200ms transform;
    border: none;
}

button:hover {
    cursor: pointer;
    transform: translateY(-5px);
}
