* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:#a5f3fc;

    .result {
        margin-bottom: 50px;

        h3 {
            font-size: 2em;
            color: blue;
        }
    }

    .grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        img {
            margin: 5px;
        }
    }
}