:root {
    --bgcolor: #000000;
    --textColor: #ffffff;
    --purple: #800080;
    --green: #008000;
    --orange: #ffa500;
    --red: #ff0000;
}

body {
    display: grid;
    place-items: center;
    min-height: 90vh;
    background-color: var(--bgcolor);
    color: var(--textColor);
    transition: all 1ms;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* overflow: hidden; */
}

.container {
    /* border: 5px solid white; */
    min-height: 50vh;
    text-align: center;
    padding: 0.5rem;
}

.grid {
    width: 600px;
    height: 680px;
    border: 3px dashed #4CAF50;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    border-radius: 15px;
}

.grid div {
    height: 40px;
    width: 40px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

.invader {
    background-color: var(--purple);
    border-radius: 50%;
}

.shooter {
    background-color: var(--green);
}

.laser {
    background-color: var(--orange);
}

.boom {
    background-color: var(--red);
}