
/* Fonts  */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/* Variables */
:root {

    --clr-primary-3: hsl(205, 72%, 37%); 
    --clr-grey-5: hsl(210, 22%, 49%); 
    --clr-grey-1: hsl(210, 22%, 10%); 
    --clr-grey-6: hsl(209, 23%, 60%); 
    --clr-grey-10: hsl(210, 36%, 96%); 
    --clr-white: #fff; 
}

/* Globals */
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-secondary);
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img:not(.logo) {
    width: 100%;
}

img {
    display: block;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}

@media screen and (min-width: 400px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1rem;
    }

    body {
        font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

/*  global classes */

.btn {
    text-transform: uppercase;
    background: transparent;
    color: var(--clr-black);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid var(--clr-black);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
}

.btn:hover {
    color: var(--clr-white);
    background: var(--clr-black);
}

/* section */
.section {
    padding: 5rem 0;
}

.section-center {
    width: 90vw;
    margin: 5rem auto;
    max-width: 1170px;
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

/* Countdown Timer */
.gift-img {
    margin-bottom: 2rem;
}

.gift-info h3 {
    text-transform: uppercase;
    color: var(--clr-primary-3);
}

.gift-info p {
    color: var(--clr-grey-6);
}

.date {
    color: var(--clr-grey-5);
    font-size: 0.85rem;
}

@media screen and (min-width: 992px) {
    .section-center {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        gap: 3rem;
        width: 95vw;
    }

    .gift-img {
        margin-bottom: 0;
    }
}

.gift-info p {
    margin: 2rem 0;
}

.deadline {
    display: flex;
}

.deadline-format {
    background: var(--clr-grey-1);
    color: var(--clr-white);
    margin-right: 1rem;
    width: 5rem;
    height: 5rem;
    display: grid;
    place-items: center;
    text-align: center;
}

.deadline-format span {
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.85rem;
}

.deadline h4:not(.expired) {
    font-size: 2rem;
    margin-bottom: 0.25rem;
    letter-spacing: var(--spacing);
} 