:root {
    /* Background */
    --bg-green: #4caf50;
    /* Text */
    /* Border */
    --black: #000;

    /* TODO to Remove */
    /* zoom: 130%; */
}


* {
    font-family: 'Bellota', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 20rem 12.5rem;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-board {
    border: 2px solid var(--black);
}

.play-button {
    background-color: var(--bg-green);
    font-size: 1rem;
    padding: 15px 30px;
    cursor: pointer;
}