.grid {
    width: 610px;
    height: 610px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

.mole {
    background-image: url(mole.jpg);
    background-size: cover;
}